### Target Table
- 2018.01.01 ~ 2023.09.08 전국 박스오피스 데이터 : box_whole

### 지향점
- duckdb 쿼리만을 사용하여 필요로 하는 모든 통계 추출

### 목표
1. 연도별 - 평일 / 주말 총 관객수
2. 연도별 - 평일 / 주말 평균 관객수
3. 연도별 / 도시별 - 총 관객수
4. 연도별 / 도시별 - 평균 관객수
5. 연도별 / 도시별 - 평균 스크린 개수

In [1]:
import duckdb

# DuckDB에 연결
# 절대 경로 지정 필요 (이유 불문)
conn = duckdb.connect(database='/home/hooniegit/git/personal/duck_and_boxoffice/database/memory', read_only=False)  
cursor = conn.cursor()

In [8]:
# 연도별 평일 총 관객수
# (관객수, 연도)
cursor.execute("""
               SELECT SUM(audi_cnt) as total_audi_cnt, 
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year
               FROM box_whole
               WHERE EXTRACT(DOW FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) NOT IN (6, 0)
               GROUP BY year
               ORDER BY year ASC;
               """)

result = cursor.fetchall()
print(result)

[(111131178, 2018), (115917518, 2019), (29982267, 2020), (29832551, 2021), (55847898, 2022), (42995940, 2023)]

In [9]:
# 연도별 주말 총 관객수
# (관객수, 연도)
cursor.execute("""
               SELECT SUM(audi_cnt) as total_audi_cnt, 
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year
               FROM box_whole
               WHERE EXTRACT(DOW FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) IN (6, 0)
               GROUP BY year
               ORDER BY year asc;
               """)

result = cursor.fetchall()
print(result)

[(87837106, 2018), (97372510, 2019), (23694802, 2020), (26184372, 2021), (49260458, 2022), (38813619, 2023)]

In [11]:
# 연도별 평일 일 평균 관객수
# (관객수, 연도)
cursor.execute("""
               SELECT SUM(audi_cnt) / COUNT(DISTINCT date) as daily_avg_audi_cnt,
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year
               FROM box_whole
               WHERE EXTRACT(DOW FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) NOT IN (6, 0)
               GROUP BY year
               ORDER BY year ASC;
               """)

result = cursor.fetchall()
print(result)

[(425789.9540229885, 2018), (444128.4214559387, 2019), (114436.13358778626, 2020), (114300.96168582376, 2021), (214799.6076923077, 2022), (247103.10344827586, 2023)]

In [15]:
# 연도별 주말 일 평균 관객수
# (관객수, 연도)
cursor.execute("""
               SELECT SUM(audi_cnt) / COUNT(DISTINCT date) as daily_avg_audi_cnt,
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year
               FROM box_whole
               WHERE EXTRACT(DOW FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) IN (6, 0)
               GROUP BY year
               ORDER BY year ASC;
               """)
result = cursor.fetchall()
print(result)

[(844587.5576923077, 2018), (936274.1346153846, 2019), (230046.6213592233, 2020), (251772.8076923077, 2021), (469147.21904761903, 2022), (562516.2173913043, 2023)]

In [21]:
# 연도별 도시별 총 관객수
# GROUP BY 조건은 복수로 입력할 수 있다
# (관객수, 연도)
cursor.execute("""
               SELECT SUM(audi_cnt) as total_audi_cnt, 
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year
               FROM box_whole
               GROUP BY year, loc_code
               ORDER BY year ASC, loc_code ASC;
               """)
result = cursor.fetchall()
print(result)

[(53238196, 2018), (50409091, 2018), (5338330, 2018), (3518479, 2018), (6974373, 2018), (3994225, 2018), (10781071, 2018), (4829673, 2018), (2273393, 2018), (15497590, 2018), (10941635, 2018), (7238078, 2018), (4368258, 2018), (10880711, 2018), (7665199, 2018), (1019982, 2018), (54021246, 2019), (53997095, 2019), (5649578, 2019), (6078582, 2019), (7346696, 2019), (7263525, 2019), (11525781, 2019), (5062622, 2019), (2459493, 2019), (15459922, 2019), (11417775, 2019), (7659857, 2019), (4771439, 2019), (11461528, 2019), (7934928, 2019), (1179961, 2019), (13849231, 2020), (12978448, 2020), (1286887, 2020), (1536445, 2020), (1819353, 2020), (1799303, 2020), (3103696, 2020), (1332812, 2020), (677799, 2020), (4047327, 2020), (2864836, 2020), (1979079, 2020), (1287982, 2020), (2825519, 2020), (1960983, 2020), (327369, 2020), (15294355, 2021), (14024914, 2021), (1296740, 2021), (1516199, 2021), (1955529, 2021), (1854545, 2021), (2751263, 2021), (1221984, 2021), (649879, 2021), (4086097, 2021), (2871479, 2021), (2051711, 2021), (1229105, 2021), (2853339, 2021), (1986994, 2021), (372790, 2021), (26224015, 2022), (27632633, 2022), (2725785, 2022), (3040979, 2022), (3711230, 2022), (3706453, 2022), (5658024, 2022), (2501359, 2022), (1311142, 2022), (7417851, 2022), (5033196, 2022), (3770014, 2022), (2374857, 2022), (5625364, 2022), (3681982, 2022), (693472, 2022), (21277855, 2023), (21892049, 2023), (2034161, 2023), (2237153, 2023), (2828967, 2023), (2792080, 2023), (4153081, 2023), (1832067, 2023), (1012281, 2023), (5602761, 2023), (3919074, 2023), (2820725, 2023), (1767397, 2023), (4313799, 2023), (2759149, 2023), (566960, 2023)]

In [24]:
# 연도별 도시별 일 평균 관객수
# GROUP BY 조건은 복수로 입력할 수 있다
# (관객수, 연도, 도시)
cursor.execute("""
               SELECT SUM(audi_cnt) / COUNT(DISTINCT date) as daily_avg_audi_cnt,
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year,
               loc_code
               FROM box_whole
               GROUP BY year, loc_code
               ORDER BY year ASC, loc_code ASC;
               """)
result = cursor.fetchall()
print(result)

[(145858.0712328767, 2018, '0105001'), (138107.09863013698, 2018, '0105002'), (14625.561643835616, 2018, '0105003'), (15431.92543859649, 2018, '0105004'), (19107.87123287671, 2018, '0105005'), (18073.41628959276, 2018, '0105006'), (29537.18082191781, 2018, '0105007'), (13231.980821917808, 2018, '0105009'), (6228.47397260274, 2018, '0105010'), (42459.150684931505, 2018, '0105011'), (29977.08219178082, 2018, '0105012'), (19830.350684931505, 2018, '0105013'), (11967.830136986302, 2018, '0105014'), (29810.167123287672, 2018, '0105015'), (21000.54520547945, 2018, '0105016'), (2794.4712328767123, 2018, '0105017'), (148003.41369863015, 2019, '0105001'), (147937.24657534246, 2019, '0105002'), (15478.295890410958, 2019, '0105003'), (16653.649315068495, 2019, '0105004'), (20127.934246575343, 2019, '0105005'), (19900.068493150684, 2019, '0105006'), (31577.482191780822, 2019, '0105007'), (13870.197260273973, 2019, '0105009'), (6738.3369863013695, 2019, '0105010'), (42355.95068493151, 2019, '0105011'), (31281.575342465752, 2019, '0105012'), (20985.909589041097, 2019, '0105013'), (13072.435616438355, 2019, '0105014'), (31401.446575342467, 2019, '0105015'), (21739.528767123287, 2019, '0105016'), (3232.769863013699, 2019, '0105017'), (42876.87616099071, 2020, '0105001'), (38059.96480938416, 2020, '0105002'), (3584.6434540389973, 2020, '0105003'), (4267.902777777777, 2020, '0105004'), (5096.226890756303, 2020, '0105005'), (5011.986072423399, 2020, '0105006'), (8645.392757660167, 2020, '0105007'), (3651.539726027397, 2020, '0105009'), (1856.9835616438356, 2020, '0105010'), (11630.25, 2020, '0105011'), (8092.757062146893, 2020, '0105012'), (5543.638655462185, 2020, '0105013'), (3557.961325966851, 2020, '0105014'), (8004.303116147309, 2020, '0105015'), (5508.3792134831465, 2020, '0105016'), (896.9013698630137, 2020, '0105017'), (41902.34246575343, 2021, '0105001'), (38424.42191780822, 2021, '0105002'), (3552.7123287671234, 2021, '0105003'), (4153.969863013699, 2021, '0105004'), (5357.613698630137, 2021, '0105005'), (5080.945205479452, 2021, '0105006'), (7537.706849315068, 2021, '0105007'), (3347.9013698630138, 2021, '0105009'), (1780.490410958904, 2021, '0105010'), (11194.786301369862, 2021, '0105011'), (7867.0657534246575, 2021, '0105012'), (5621.12602739726, 2021, '0105013'), (3367.4109589041095, 2021, '0105014'), (7817.367123287671, 2021, '0105015'), (5443.819178082192, 2021, '0105016'), (1021.3424657534247, 2021, '0105017'), (74712.29344729344, 2022, '0105001'), (77402.33333333333, 2022, '0105002'), (7467.904109589041, 2022, '0105003'), (8331.449315068494, 2022, '0105004'), (10167.753424657534, 2022, '0105005'), (10154.665753424657, 2022, '0105006'), (15501.435616438355, 2022, '0105007'), (6853.038356164384, 2022, '0105009'), (3592.1698630136984, 2022, '0105010'), (20491.301104972375, 2022, '0105011'), (13827.461538461539, 2022, '0105012'), (10328.805479452054, 2022, '0105013'), (6506.457534246575, 2022, '0105014'), (15454.296703296703, 2022, '0105015'), (10087.62191780822, 2022, '0105016'), (1899.9232876712329, 2022, '0105017'), (87563.18930041153, 2023, '0105001'), (90090.7366255144, 2023, '0105002'), (8371.0329218107, 2023, '0105003'), (9206.390946502057, 2023, '0105004'), (11641.839506172839, 2023, '0105005'), (11490.041152263375, 2023, '0105006'), (17090.8683127572, 2023, '0105007'), (7539.37037037037, 2023, '0105009'), (4165.765432098766, 2023, '0105010'), (23056.62962962963, 2023, '0105011'), (16127.876543209877, 2023, '0105012'), (11607.921810699589, 2023, '0105013'), (7273.238683127572, 2023, '0105014'), (17752.25925925926, 2023, '0105015'), (11354.522633744857, 2023, '0105016'), (2333.1687242798353, 2023, '0105017')]

In [23]:
# 연도별 도시별 일 평균 스크린 개수
# GROUP BY 조건은 복수로 입력할 수 있다
# (스크린수, 연도, 도시)
cursor.execute("""
               SELECT AVG(scrn_cnt) as daily_avg_scrn_cnt,
               EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) as year,
               loc_code
               FROM box_whole
               GROUP BY year, loc_code
               ORDER BY year ASC, loc_code ASC;
               """)
result = cursor.fetchall()
print(result)

[(90.87260273972603, 2018, '0105001'), (114.26246575342466, 2018, '0105002'), (19.82543162510277, 2018, '0105003'), (14.226754385964913, 2018, '0105004'), (19.75315068493151, 2018, '0105005'), (22.26968325791855, 2018, '0105006'), (27.37095890410959, 2018, '0105007'), (17.555064863372895, 2018, '0105009'), (6.005781938325991, 2018, '0105010'), (33.365753424657534, 2018, '0105011'), (24.519178082191782, 2018, '0105012'), (11.455616438356165, 2018, '0105013'), (6.957036629027816, 2018, '0105014'), (26.20794520547945, 2018, '0105015'), (17.51041095890411, 2018, '0105016'), (2.7440494590417313, 2018, '0105017'), (92.41890410958904, 2019, '0105001'), (128.4682191780822, 2019, '0105002'), (22.29945205479452, 2019, '0105003'), (18.865753424657534, 2019, '0105004'), (21.09315068493151, 2019, '0105005'), (25.443013698630136, 2019, '0105006'), (30.47917808219178, 2019, '0105007'), (18.86657458563536, 2019, '0105009'), (6.75526241930957, 2019, '0105010'), (33.592328767123284, 2019, '0105011'), (26.79095890410959, 2019, '0105012'), (13.529041095890411, 2019, '0105013'), (8.554054054054054, 2019, '0105014'), (27.81068493150685, 2019, '0105015'), (19.735068493150685, 2019, '0105016'), (2.9674695026587425, 2019, '0105017'), (76.89195046439629, 2020, '0105001'), (103.17859237536656, 2020, '0105002'), (12.867966573816156, 2020, '0105003'), (13.485277777777778, 2020, '0105004'), (13.970028011204482, 2020, '0105005'), (16.719220055710306, 2020, '0105006'), (24.83760445682451, 2020, '0105007'), (11.19977863862756, 2020, '0105009'), (5.191947049089906, 2020, '0105010'), (26.49022988505747, 2020, '0105011'), (19.720406905055487, 2020, '0105012'), (12.928851540616247, 2020, '0105013'), (6.610957387935805, 2020, '0105014'), (19.931444759206798, 2020, '0105015'), (14.446348314606741, 2020, '0105016'), (3.4480023501762633, 2020, '0105017'), (81.17041095890411, 2021, '0105001'), (118.9304109589041, 2021, '0105002'), (16.701643835616437, 2021, '0105003'), (15.479309399835572, 2021, '0105004'), (18.295068493150684, 2021, '0105005'), (20.389041095890413, 2021, '0105006'), (28.457534246575342, 2021, '0105007'), (14.330126443100605, 2021, '0105009'), (5.985227272727273, 2021, '0105010'), (29.105205479452056, 2021, '0105011'), (21.4386301369863, 2021, '0105012'), (16.00191780821918, 2021, '0105013'), (7.972252747252747, 2021, '0105014'), (20.71123287671233, 2021, '0105015'), (16.675342465753424, 2021, '0105016'), (3.9112496289700207, 2021, '0105017'), (86.13903133903133, 2022, '0105001'), (132.3593837535014, 2022, '0105002'), (20.734794520547947, 2022, '0105003'), (18.73041095890411, 2022, '0105004'), (20.89123287671233, 2022, '0105005'), (23.332967936420935, 2022, '0105006'), (30.283835616438356, 2022, '0105007'), (16.757929883138566, 2022, '0105009'), (6.712678625722104, 2022, '0105010'), (32.98618784530387, 2022, '0105011'), (22.312637362637364, 2022, '0105012'), (16.58, 2022, '0105013'), (9.254880089235918, 2022, '0105014'), (24.41043956043956, 2022, '0105015'), (18.291780821917808, 2022, '0105016'), (3.8411467116357505, 2022, '0105017'), (92.72674897119342, 2023, '0105001'), (143.54650205761317, 2023, '0105002'), (22.438271604938272, 2023, '0105003'), (18.546502057613168, 2023, '0105004'), (23.85679012345679, 2023, '0105005'), (26.423045267489712, 2023, '0105006'), (32.07572016460905, 2023, '0105007'), (17.71522633744856, 2023, '0105009'), (7.624689312344656, 2023, '0105010'), (35.07695473251029, 2023, '0105011'), (24.525102880658437, 2023, '0105012'), (17.10411522633745, 2023, '0105013'), (9.946891724989708, 2023, '0105014'), (28.354320987654322, 2023, '0105015'), (19.460493827160494, 2023, '0105016'), (3.5884648742411103, 2023, '0105017')]