### 데이터 불러오기

In [21]:
import duckdb

# DuckDB에 연결
# 절대 경로 지정 필요 (이유 불문)
conn = duckdb.connect(database='/home/hooniegit/git/personal/duck_and_boxoffice/database/memory', read_only=False)  
cursor = conn.cursor()

In [2]:
# 쿼리 실행
# 컬럼 확인하기
cursor.execute("""
               SELECT column_name
               FROM information_schema.columns
               WHERE table_name = 'box_whole';
               """)

# 결과 가져오기
results = cursor.fetchall()
columns = [result[0] for result in results]

In [3]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2018년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2018;
               """)

# 결과 가져오기
result_2018 = cursor.fetchall()

In [4]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2019년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2019;
               """)

# 결과 가져오기
result_2019 = cursor.fetchall()

In [5]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2020년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2020;
               """)

# 결과 가져오기
result_2020 = cursor.fetchall()

In [6]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2021년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2021;
               """)

# 결과 가져오기
result_2021 = cursor.fetchall()

In [7]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2022년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2022;
               """)

# 결과 가져오기
result_2022 = cursor.fetchall()

In [22]:
# 쿼리 실행
# 전체 박스오피스 테이블
# 2023년 데이터 가져오기
cursor.execute("""
               SELECT *
               FROM box_whole
               WHERE EXTRACT(YEAR FROM CAST(SUBSTRING(date FROM 1 FOR 4) || '-' || SUBSTRING(date FROM 6 FOR 2) || '-' || SUBSTRING(date FROM 9 FOR 2) AS DATE)) = 2023;
               """)

# 결과 가져오기
result_2023 = cursor.fetchall()

In [23]:
conn.close()

### 데이터 분석하기

In [25]:
import pandas as pd

# 데이터프레임 생성
df_2018 = pd.DataFrame(columns=columns, data=result_2018)
df_2019 = pd.DataFrame(columns=columns, data=result_2019)
df_2020 = pd.DataFrame(columns=columns, data=result_2020)
df_2021 = pd.DataFrame(columns=columns, data=result_2021)
df_2022 = pd.DataFrame(columns=columns, data=result_2022)
df_2023 = pd.DataFrame(columns=columns, data=result_2023)

In [10]:
df_2018.head()

,date,rank,movie_nm,movie_open,sales_amount,sales_share,sales_inten,sales_change,sales_acc,audi_cnt,audi_inten,audi_change,audi_acc,scrn_cnt,show_cnt,loc_code
0,2018-02-03,1,염력,2018-01-31,442642180,23.1,223499703,102,1296365957,50445,25031.0,98.5,171404,189,1063,0105001
1,2018-02-03,2,그것만이 내 세상,2018-01-17,375180348,19.6,218522011,140,4734474037,43457,25182.0,137.8,573401,162,597,0105001
2,2018-02-03,3,코코,2018-01-11,328740300,17.2,211582400,181,7028268316,38244,24627.0,180.9,841033,165,505,0105001
3,2018-02-03,4,인시디어스4: 라스트 키,2018-01-31,171102984,8.9,66792204,64,492840064,19661,7694.0,64.3,63903,142,442,0105001
4,2018-02-03,5,신과함께-죄와 벌,2017-12-20,110671900,5.8,59224400,115,26964675887,12806,6758.0,111.7,3277556,100,214,0105001

In [26]:
# 연간 통산 관람객 수
audi_total_2018 = df_2018['audi_cnt'].sum()
audi_total_2019 = df_2019['audi_cnt'].sum()
audi_total_2020 = df_2020['audi_cnt'].sum()
audi_total_2021 = df_2021['audi_cnt'].sum()
audi_total_2022 = df_2022['audi_cnt'].sum()

# 연간 일평균 관람객 수
audi_avg_2018 = f"{df_2018['audi_cnt'].mean():.1f}"
audi_avg_2019 = f"{df_2019['audi_cnt'].mean():.1f}"
audi_avg_2020 = f"{df_2020['audi_cnt'].mean():.1f}"
audi_avg_2021 = f"{df_2021['audi_cnt'].mean():.1f}"
audi_avg_2022 = f"{df_2022['audi_cnt'].mean():.1f}"
audi_avg_2023 = f"{df_2023['audi_cnt'].mean():.1f}"

In [27]:
print(audi_total_2018)
print(audi_total_2019)
print(audi_total_2020)
print(audi_total_2021)
print(audi_total_2022)

print(audi_avg_2018)
print(audi_avg_2019)
print(audi_avg_2020)
print(audi_avg_2021)
print(audi_avg_2022)
print(audi_avg_2023)

198968284
213290028
53677069
56016923
105108356
3610.4
3689.8
954.7
966.4
1845.2
2111.8

In [33]:
# 도시별 연간 통산 관람객 수
audi_total_2018_01 = df_2018[df_2018['loc_code']=='0105001']['audi_cnt'].sum()
audi_total_2018_02 = df_2018[df_2018['loc_code']=='0105002']['audi_cnt'].sum()
audi_total_2018_03 = df_2018[df_2018['loc_code']=='0105003']['audi_cnt'].sum()
audi_total_2018_04 = df_2018[df_2018['loc_code']=='0105004']['audi_cnt'].sum()
audi_total_2018_05 = df_2018[df_2018['loc_code']=='0105005']['audi_cnt'].sum()
audi_total_2018_06 = df_2018[df_2018['loc_code']=='0105006']['audi_cnt'].sum()
audi_total_2018_07 = df_2018[df_2018['loc_code']=='0105007']['audi_cnt'].sum()
audi_total_2018_08 = df_2018[df_2018['loc_code']=='0105008']['audi_cnt'].sum()
audi_total_2018_09 = df_2018[df_2018['loc_code']=='0105009']['audi_cnt'].sum()
audi_total_2018_10 = df_2018[df_2018['loc_code']=='0105010']['audi_cnt'].sum()
audi_total_2018_11 = df_2018[df_2018['loc_code']=='0105011']['audi_cnt'].sum()
audi_total_2018_12 = df_2018[df_2018['loc_code']=='0105012']['audi_cnt'].sum()
audi_total_2018_13 = df_2018[df_2018['loc_code']=='0105013']['audi_cnt'].sum()
audi_total_2018_14 = df_2018[df_2018['loc_code']=='0105014']['audi_cnt'].sum()
audi_total_2018_15 = df_2018[df_2018['loc_code']=='0105015']['audi_cnt'].sum()
audi_total_2018_16 = df_2018[df_2018['loc_code']=='0105016']['audi_cnt'].sum()
audi_total_2018_17 = df_2018[df_2018['loc_code']=='0105017']['audi_cnt'].sum()

In [34]:
print(audi_total_2018_01)
print(audi_total_2018_17)

53238196
1019982